.league-option-panel {
  color: white;
  padding-top: 15px;
  background-color: #293142;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #2f394a;
  display: inline-block;
}

.league-information {
  margin-left: 10px;
  align-items: center;
}

.players-list {
  padding-top: 15px;
  background-color: #293142;
  font-weight: bold;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #2f394a;
}
