.league-option-panel {
  color: white;
  padding-top: 15px;
  background-color: #293142;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 2px solid #2f394a;
  display: inline-block;
  border-top: none;
  padding-right: 10px;
  min-width: 825px;
}

.league-option-panel-rounded {
  color: white;
  padding-top: 15px;
  background-color: #293142;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border: 2px solid #2f394a;
  display: inline-block;
  border-top: none;
  min-width: 825px;
}
.league-option-tabs {
  padding-top: 10px;
  width: 825px;
  background-color: #293142;
  border: 2px solid #2f394a;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.league-information {
  margin-left: 10px;
  align-items: center;
}

.players-list {
  padding-top: 15px;
  background-color: #293142;
  font-weight: bold;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #2f394a;
}
