.league {
  background-color: antiquewhite;
  width: 10vw;
  max-width: 300px;
  gap: 0.25rem;
  display: grid;
}

.avatar {
  margin: 0 auto;
  padding-bottom: 10px;
}

.league-name {
  margin: 0 auto;
  padding-top: 10px;
}
