.users-list {
  color: #ffffff;
  background-color: #3c5079;
  border-radius: 15px;
  width: 600px;
  height: 100px;
  gap: 0.15rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.players.list {
  background-color: #3c5079;
}
