.rosters-label {
  color: #ffffff;
  margin-left: 3vw;
}

.users-list {
  color: #ffffff;
  background-color: #293142;
  width: 801px;
  height: 100px;
  gap: 0.15rem;
  text-align: left;
  font-weight: bold;
  border-bottom: gray 1px solid;
}

.users-list-last {
  color: #ffffff;
  background-color: #293142;
  width: 450px;
  height: 100px;
  gap: 0.15rem;
  text-align: left;
  font-weight: bold;
}
.users-list label {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.user-link {
  display: inline-block;
}

.parent-roster-list {
  margin-left: 10px;
  text-align: left;
}
