.rosters-label {
  color: #ffffff;
  margin-left: 3vw;
}

.users-list {
  color: #ffffff;
  background-color: #3c5079;
  border-radius: 15px;
  width: 600px;
  height: 100px;
  gap: 0.15rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}

.players-list {
  padding-top: 15px;
  background-color: #293142;
  font-weight: bold;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #2f394a;
}
