.league-list {
  display: grid;
  gap: 2rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .league-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
